/*w: nav section */
nav {
  justify-content: space-between;
  align-items: center;
  /* padding: 1vw; */
}
nav button {
  height: 30px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 3px 15px;
}
/*w: banner section styles*/

.banner {
  padding: 4.16vw 3.8vw;
  border-radius: 10px;
  margin-top: 20px;
}
.banner h2 {
  font-size: 2.92vw;
  font-weight: 7000;
}

/*w: pillar section  */

.pillar-card,
.vision-card,
.news-card {
  border: 1px solid gold;
  padding: 2.3vw;
  border-radius: 18px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.pillar-card-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
  justify-items: center;
}
.hover:hover {
  border: 2px solid gold;
  transition: transform 0.3s;

  transform: scale(1.05);
}

.hover-btn:hover {
  transition: transform 0.3s;

  transform: scale(1.2);
}
/*w: vision section */

.vision-card-container {
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1.5vw;
  justify-items: center;
}

.vision-infos {
  border-radius: 19px;
  margin-top: 20px;
  background: rgba(14, 14, 14, 0.05);
  padding: 2.2vw;
}

/*w: news section */
.news-card-container {
  gap: 30px;
}
.news-card {
  background: rgba(14, 14, 14, 0.02);
  padding: 3vw;
  gap: 3.5vw;
  border: none;
}

/*w: donate section */

.donate-section {
  padding: 3vw;
}
.donate-items {
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
}
.donate-item button {
  padding: 40px 40px;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid skyblue;
  margin-top: 15px;
  margin-bottom: 15px;
}

.amount,
.email {
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid purple;
}

/*w: news-letter section */

.news-letter {
  padding: 5vw 9vw;
  border-radius: 10px;
}

/*w: table section */

.table-section {
  padding: 3vw;
}
table {
  border: 1px solid maroon;
  border-radius: 10px;
}
th {
  border: 1px solid green;
  background: skyblue;
}
td,
th {
  border: 1px solid black;
  margin-top: -3px;
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
  /* color: blueviolet; */
}
select {
  background: skyblue;
  padding: 9px;
  border: 2px solid gold;
  border-radius: 3px;
}
